<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Beans for task1 -->
    <bean id="draw2dShape" class="task1.Draw2d"/>
    <bean id="draw3dShape" class="task1.Draw3d"/>

    <bean id="circle" class="task1.Circle">
        <constructor-arg ref="draw2dShape"/>
        <constructor-arg ref="draw3dShape"/>
    </bean>

    <bean id="square" class="task1.Square">
        <property name="draw2d" ref="draw2dShape"/>
        <property name="draw3d" ref="draw3dShape"/>
    </bean>

    <!-- Properties file -->
    <context:property-placeholder location="application.properties"/>

    <!-- Beans for task2 -->
    <bean  id="db" class="task2.DatabaseConfig">
        <property name="url" value="${database.url}"></property>
        <property name="username" value="${database.username}"></property>
        <property name="password" value="${database.password}"></property>
    </bean>
    <bean id="car" class="task2.Car">
        <constructor-arg ref="db"/>
    </bean>
    <bean id="plane" class="task2.Plane">
        <property name="db" ref="db"/>
    </bean>
</beans>
